.flex-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}
.box {
  text-align: center;
  width: 100px;
  height:50px;
  margin: 0 5px;
}
.box-1 {
  width:100px;
  background: #ff0000;
}
.box-2 {
  width:70px;
  background: #da2cab;
}
.box-3 {
  width:90px;
  background: #008000;
}
.box-4 {
  background: #0000ff;
}
