.full-page {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.twitter {
  fill: #0099FF;
}

.card {
  padding: 10px;
  border: 1px solid #a0a0a0;
}

.card:hover {
  background: #F7F7F7;
}

.fullname, .userEmail {
  color: #a4a4a4;
  margin-right: 10px;
}

.cardTitle {
  font-size: 20px;
  text-transform: uppercase;
}

.description {
  font-size: 14px;
  color: #4E4E4E;
  margin: 20px 0;
}

.delete-btn {
  outline: none;
  display: block;
  margin: 0 20px;
  float: left;
  cursor: pointer;
}
