body {
  font-family: 'Montserrat', sans-serif;
}

.conteiner {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  background-color: rgba(94, 93, 88, 0.6);
  display: inline-block;
  width: 100%;
  border-top: 4px solid #E5E5E5;
  position: fixed;
  z-index: 200;
  top: 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header-logo {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  text-decoration: none;
  min-width: 145px;
  display: flex;
  align-items: center;
}

.header-logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  color: #FFFFFF;
  width: 58px;
  height: 67px;
  vertical-align: middle;
  text-align: center;
  background-image: url("../img/PolygonlogoBG.svg");
  background-size: 58px 67px;
  background-repeat: no-repeat;
  margin: 0;
}

.header-logo-text {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 6px;
}

.page-header-nav {
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 48px;
}

.header-menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header-menu-item {
  padding-right: 21px;
  list-style-type: none;
}

.header-menu-link {
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 49px;
}

.header-menu-link:hover {
  color: #18CFAB;
  border-bottom: 2px solid #18CFAB;
}

.color-colar {
  color: #18CFAB;
  font-weight: 700;
}

.banner {
  padding-top: 379px;
  padding-bottom: 243px;
  background: url(../img/banner.jpg) center/cover no-repeat;
  background-attachment: fixed;
}

.banner-subtitile {
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 22px;
  color: #FFFFFF;
}

.banner-title {
  font-weight: 700;
  font-size: 78px;
  line-height: 78px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 22px;
}

.banner-text {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;
  text-align: center;
  color: #D4D4D4;
  margin-bottom: 129px;
  margin-top: 0;
  text-transform: capitalize;
}

.bunner-buttons {
  display: flex;
  justify-content: center;
}

.bunner-link::after {
  content: "";
  position: absolute;
  z-index: -10;
  border-top: 5px white solid;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  height: 20px;
  top: -5px;
  left: 0;
}

.bunner-link {
  position: relative;
  z-index: 100;
  padding: 16px;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #18CFAB;
  text-decoration: none;
  border-radius: 5px;
}

.bunner-link-bg {
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  margin-right: 26px;
  background-color: white;
}

.blue {
  background-color: #00CBF6;
}

.services-pluses-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #18CFAB;
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
  margin-bottom: 0;
}

.dark {
  background-color: #1C2A33;
  color: #1C2A33;
}

.services-item-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}

.pluses-item-wrapper {
  height: 100%;
  padding-top: 95px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pluses-item-wrapper>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pluses-items {
  height: 377px;
}

.coral {
  color: #18CFAB;
}

.services-subtittle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 92px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4E4E4E;
  margin-bottom: 99px;
}

.services-subtittle::before {
  content: "";
  position: absolute;
  width: 91px;
  height: 8px;
  border-top: 1px solid #18CFAB;
  margin-top: 74px;
  margin-right: 14px;
}

.services-subtittle::after {
  content: "";
  position: absolute;
  width: 91px;
  height: 8px;
  border-top: 1px solid #18CFAB;
  margin-top: 82px;
  margin-left: 14px;
}

.services-content-wrapper {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

ol {
  list-style: none;
  padding-left: 0;
}

.services-tabs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.services-tabs-tittle {
  font-style: normal;
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  color: #717171;
  position: relative;
  text-align: center;
  border: 1px solid transparent;
}

.services-tabs-tittle:hover {
  border: 1px solid #18CFAB;
}

.active {
  background-color: #18CFAB;
  color: #FFFFFF;
}

.content-text {
  margin: 0;
}

.active::before {
  content: url("../img/treygolnik.svg");
  width: 25px;
  height: 13px;
  position: absolute;
  top: 58px;
  left: 84px;
}

.service-content-item {
  display: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
}

.showen {
  display: flex;
}

.content-img {
  margin-bottom: 91px;
  margin-right: 15px;
}

.service-tabs-content {
  margin-top: 23px;
}

.banner-small {
  background-image: url("../img/s3/ous4.jpg");
  background-color: #1C2A33;
  mix-blend-mode: multiply;
}

.text-banner-title {
  padding-top: 127px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #18CFAB;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.text-banner-subtittle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  color: #D8D8D8;
  margin-bottom: 62px;
}

.button-s {
  padding-bottom: 128px;
}

.portfolio-menu {
  display: flex;
  justify-content: center;
  margin: 0 0 71px 0;
}

.portfolio-menu-item {
  padding: 14px 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  border: 1px solid #DADADA;
  border-right: none;
  color: #717171;
  cursor: pointer;
}

.portfolio-item-rb {
  border-right: 1px solid #DADADA;
}

.active-item {
  border: 2px solid #18CFAB;
  color: #18CFAB;
}

.portfolio-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 70px;
}

.portfolio-wrapper {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.des-button-link {
  border: 1px solid #18CFAB;
  width: 41px;
  height: 41px;
  border-radius: 30px;
  background-color: #E9EDEF;
  background-image: url("../img/portfolio/dLink.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.des-button-stop {
  width: 41px;
  height: 41px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #18CFAB;
  background-image: url("../img/portfolio/dButton.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 3px;
}

.footer-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #AEAEAE;
  margin: 0;
  padding-top: 48px;
  padding-bottom: 48px;
}

.button-wrapper {
  padding-top: 46px;
  display: flex;
  justify-content: center;
}

.desc-tittle {
  margin: 23 0 0 0;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
  color: #18CFAB;
}

.des-text {
  font-style: normal;
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8A8A8A;
  text-align: center;
  margin: 0;
}

.portfolio-item {
  position: relative;
  z-index: 0;
}

.portfolio-desc {
  background-color: #E9EDEF;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.portfolio-desc::before {
  content: "";
  background: #18CFAB;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 2px;
  width: 99%;
}

.portfolio-item:hover>.portfolio-desc {
  z-index: 2;
  transform: rotate(360deg);
}

.portfolio {
  background-color: #E9EDEF;
}

.loadmore {
  position: relative;
  display: inline-block;
  background: #18CFAB;
  background-image: url("../img/portfolio/cross.svg");
  background-repeat: no-repeat;
  background-position: 23px 23px;
  border: none;
  border-radius: 5px;
  width: 168px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 99px;
  padding-top: 13px;
  padding-bottom: 8px;
  padding-left: 22px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  color: #FFFFFF;
}

.hide {
  display: none;
}

.news-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 35px 45px;
  /* grid-column-gap: 35px; */
  padding-bottom: 128px;
}

.cad-link {
  width: 263px;
  text-decoration: none;
  position: relative;
}

.cad-link:hover>.news-time {
  background-color: #18CFAB;
}

.cad-link:hover>.news-title {
  color: #18CFAB;
}

.news-title {
  font-style: normal;
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  padding-top: 14px;
  padding-left: 15px;
  margin: 0;
  color: #717171;
}

.news-info {
  font-style: normal;
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  padding-left: 15px;
  margin: 0;
  color: #777777;
}

.news-time {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 68px;
  background-color: #203E38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.news-date {
  font-family: 'Montserrat';
  text-align: center;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}

footer {
  background-color: #22353F;
  background-size: cover;
}

.news-month {
  font-family: 'Montserrat';
  text-align: center;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  text-transform: capitalize;
}

.portfolio-item>img {
  width: 100%;
}

.page-clients {
  background-image: url("../img/s5/bg.jpg");
  background-size: cover;
}

.white {
  color: white;
}

.page-carusel {
  width: 357px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 98px;
  position: relative;
}

.car-wrapper {
  display: flex;
  width: 483px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 68px;
}

.corusel-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: transform 5s;
  border: 5px solid rgba(31, 218, 181, 0.2);
}

.corusel-img:hover {
  margin-top: -15px;
}

.left, .right {
  width: 31px;
  height: 31px;
  margin-top: 21px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #BBBBBB;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.left {
  background-image: url("../img/s5/left.svg");
}

.right {
  background-image: url("../img/s5/right.svg");
}

.left:hover {
  background-image: url("../img/s5/leftW.svg");
  background-color: #18CFAB;
}

.right:hover {
  background-image: url("../img/s5/righWt.svg");
  background-color: #18CFAB;
}

.leftanime {
  margin-top: -15px;
}

.comas {
  width: 44px;
  height: 31px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 36px;
}

.cardcontent {
  display: flex;
  flex-direction: column;
}

.data-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  text-align: center;
  color: #BBBBBB;
}

.data-text-name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  margin-top: 37px;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  color: #18CFAB;
}

.data-text-img {
  margin-top: 50px;
  width: 143px;
  height: 143px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 10px solid rgba(31, 218, 181, 0.2);
}
