.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', sans-serif;

}

.page-list {
  display: inline;
}

.page-nav {
  text-align: center;
}

.list-item {
  display: inline;
  margin-right: 72px;
  margin-top: 25px;
  padding: 0;
  list-style: none;
}

.page-link {

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 70px;
  letter-spacing: 2.7px;
  color: #FF0000;
  text-decoration: none;
}

.banner {
  background-image: url(https://images.hdqwalls.com/download/retrowave-ap-1280x1024.jpg);
  background-size: cover;
  width: 100%;
  height: 789px;
}

.page-header-text {
  text-align: center;

  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  margin: 49px 0 38px 0;
}

.page-text {

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin-bottom: 28px;

}

.button-conteiner {
  margin: auto;
  width: 50%;
  text-align: center;
}

.page-button {
  padding: 18px 42px;
  margin-top: 28px;
  background: #FF0000;
  border-radius: 4px;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  color: #FFFFFF;
}

.footer-text {
  text-align: right;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
}

.page-footer {
  margin-top: 82px;
  margin-right: 5vw;
  margin-bottom: 29px;
}
