
body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.page-header {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* position: absolute; */
  width: 100%;
}

.nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding-right: 79px;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 0;
  cursor: pointer;
}

.nav-item-img:hover {
  filter: brightness(0) saturate(100%) invert(23%) sepia(90%) saturate(2163%) hue-rotate(140deg) brightness(94%) contrast(99%);
}

.login-text {
  margin-top: 0;
  margin-bottom: 0;
}

.login-text::before {
  content: "";
  margin-right: 27px;
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}

.acent-green {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  text-decoration: none
}

.acent-green:hover {
  color: #01813F;
}

.login-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.button-img {
  width: 48px;
  height: 28px;
  border-right: solid 1px rgb(10, 22, 47, .1);
  background-position: center;
}

.img-fb {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}

.img-ggl {
  background-image: url("../img/google-plus.svg");
  background-repeat: no-repeat;
}

.logo {
  margin-left: 79px;
  margin-top: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 18px;
  text-decoration: none;
}

.logo:hover {
  color: #01813F;
}

.page-form {

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-main {
  width: 444px;
  background-color: white;
  position: relative;
}

.form-wraper::before {
  content: "";
  background-color: #01813F;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 29px;
  left: 0;
}

.form-wraper {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 31px;
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
}

.form-subwrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.text-header1 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  margin-top: 0;
  margin-bottom: 0;
}

.ggl {
  background: #DF4A32;
}

.ggl:hover {
  background: #AB1F09;
}

.fb {
  background: #305DB8;
}

.fb:hover {
  background: #022263;
}

.button-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 4px;
  width: 49%;
  height: 48px;
}

.button-social-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  display: inline-block;
  margin-right: 22px;
}

.text-subtext {

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: #3CB878;
  text-decoration: none;
}

.text-subtext:hover {
  text-decoration: underline;
}

.confirm {
  background: rgba(60, 184, 120, 0.8);
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  height: 46px;
  color: #FFFFFF;
}

.confirm:hover {
  background: #01813F;
}

.main-text {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #848484;
  margin-top: 31px;
  margin-bottom: 3px;
}

.main-text::before {
  content: "";
  width: 165px;
  border-top: 1px solid #F2F2F2;
  position: absolute;
  left: 0;
  top: 8px;
}

.main-text::after {
  content: "";
  width: 165px;
  border-top: 1px solid #F2F2F2;
  position: absolute;
  top: 8px;
  right: 0;
}

.page-input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 15px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  outline: none;
}

.page-input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  color: #434343;
}

.checkbox-terms {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-top: 12px;
  margin-bottom: 20px;
  color: #434343;
  margin-right: 8px;
  margin-left: 2px;
  border: 1px solid #F2F2F2;
}

.t-green {
  color: #01813F;
  text-decoration: none;
}

.t-green:hover {
  text-decoration: underline;
}
