*{font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.page {
  background-image: url("../img/background.png");
  background-size: cover;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}

.logo {
  background-image: url("../img/logo.png");
  background-position: top 0 left 0;
  background-repeat: no-repeat;
  text-decoration: none;
}

.logo:hover {
  background-image: url("../img/logoh.png");
}

.text-logo1 {
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  padding-left: 61px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

.text-logo2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFFFFF;
  padding-left: 61px;
}

.header-contats {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 19px;
}

.header-cont {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}

.logo:hover>.text-logo1 {
  color: #F26522;
}

.logo:hover>.text-logo2 {
  color: #F26522;
}

.header-cont:hover {
  color: #F26522;
}

.page-gallary {
  margin-top: 16px;


}

.gallary-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 0;
  grid-gap: 37px 61px;
  margin-top: 0;
  margin-bottom: 0;
}

.item-text {
  width: 50%;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.item-nav {
  display: none;
  background-color: #F26522;
}

.gallary-item {
  position: relative;
}

.item-nav {
  position: absolute;
  height: 55px;
  width: 100%;
  top: 165px;
  left: 0;
}

.item-desc-text1 {
  margin-top: 7px;
  margin-bottom: 8px;
  margin-left: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-decoration: none;
  color: #FFFFFF;
}

.item-desc-text2 {
  text-decoration: none;
  margin-top: 7px;
  margin-left: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.item-description-link {
  position: absolute;
  top: 29px;
  left: 180px;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.item-description-link::after {
  content: url('../img/arrow.svg');
  position: absolute;
  top: 0;
  left: 94px;
  width: 5px;
  height: 10px;
}
.gallary-item:hover>.item-link>.item-text{
color: #F26522;
}
.gallary-item:hover>.item-nav {
  display: inline;
  background-color: #F26522;
}
.page-footer{

  display: flex;
}
.item-link{
  text-decoration: none;
}
.fotter-text{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
width:50%;
margin-left: auto;
margin-right: auto;
text-align: center;
color: #FFFFFF;  margin-top: 48px;
margin-bottom: 15px;
}
