body {

  font-family: 'Roboto', sans-serif;

}
.conteiner {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.logo {

  font-weight: 900;
  font-size: 80px;
  line-height: 154px;
  text-decoration: none;
  color: #000000;
  margin-top: 60px;
}

.logo-blue-text {
  color: #4BCAFF;
}
.buttons-wrapper{
  display: flex;
  justify-content: flex-end;

}
#changetheme{
  margin-right: 20px;
  background-color: black;
  border: 1px solid grey;
  color:white;
}

#changetheme:hover{
  background-color:  #003300;
  cursor: pointer;
}
.page-header-menu {
  background-color: #35444F;
  ;
}

.page-header-menu-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 0;
}

.page-header-nav-item {
  border-right: 1px solid #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
}
.page-header-nav-item:first-child {
  border-left: 1px solid #FFFFFF;
}
.header-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 73px;
  color: #FFFFFF;
}

/* ВОпрос: Ховер при наведении на всю кнопку, а не только на текст? необходимо делать кнопки?*/
.page-header-nav-item:hover {
  cursor: pointer;
  background-color: #222F3A;
}

.page-content {
  display: flex;
  align-items: flex-start;
  margin-top: 48px;
}

.page-sidebar {
  margin-top: 0;
}

.sidebar-list {
  margin-top: 0;
  margin-bottom: 0;
  width: 344px;
  list-style-type: none;
  padding-left: 0;
  border: solid 0.5px #000000;
}

.sidebar-item {
  flex-grow: 1
}

.sidebar-link {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  width: 100%;

  padding-top: 26px;
  padding-bottom: 26px;
  color: #485863;
  padding-left: 44px;

}

.sidebar-link:hover {
  color: #35444F;
  font-weight: 900;
  padding-left: 88px;

}

.sidebar-item:hover {
  background-color: #DBDBDB;
  cursor: pointer;
}

.middle-content {
  margin-left: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-wrapper {
  height: 529px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;

  overflow: hidden;
}
.page-img {
  transition-duration: 500ms;

}
.page-img:hover  {
  transform: scale(1.5);
}
.page-text {

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 0;
  color: #2C2C2C;
}

.footer-list {
  display: flex;
  list-style-type: none;
  width: 875px;
  justify-content: space-between;
  padding-left: 40px;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-link {

  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  text-decoration: none;
  color: #0C1927;
}

.footer-link:hover {
color: #3181A6;
  padding-bottom: 10px;
  border-bottom: 1px solid #3181A6;

}


.footer-conteiner {
  display: flex;
  justify-content: space-between;
  background-color: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
  margin-bottom: 30px;
}

.copy {

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 69px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 25px;
  color: #010101
}
