body {
  background-color: #171717;
  font-family: 'Circe', sans-serif;
}

.container {
  max-width: 1095px;
  margin-left: auto;
  margin-right: auto;
}

.page-services {
  padding-bottom: 120px;
  padding-top: 120px;
  background: url("../img/header-bg.jpeg") center/cover no-repeat;
  background-attachment: fixed;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 0;
}

.page-logo {
  display: inline-block;
  width: 216px;
  background-image: url('../img/logo.png');
  background-size: 58px 67px;
  background-repeat: no-repeat;
}

.page-header-contacts {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.header-tel-link {
  text-decoration: none;
  padding-right: 39px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #D6AF76;
}

.white {
  color: white
}

.page-button-text {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid #E4B564;
  background-image: url("../img/callicon.svg");
  background-repeat: no-repeat;
  background-position: 26px;
  background-size: 13px 13px;
  padding: 10px 25px 10px 49px;
  color: #E4B564;
}

.page-titles {
  position: relative;
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  text-align: left;
  margin-bottom: 41px;
  color: #FFFFFF;
}

.page-title-discription {
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: left;
  margin-top: 0;
  max-width: 1182px;
}

.services-list {
  height: 702px;
  display: grid;
  margin-bottom: 0;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(2, 468px); */
  /* grid-template-areas: "a a b b c c"
    "d d d e e e"; */
  padding-left: 0;
  list-style: none;
  grid-gap: 27px 30px;
}

.grid-span-column-3 {
  grid-column: span 3;
}

.grid-span-column-2 {
  grid-column: span 2;
}

.services-card {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color1 {
  background-color: #634F2C;
}

.color2 {
  background-color: #B4A385;
}

.color3 {
  background-color: #E4B564;
}

.color4 {
  background-color: #635A4A;
}

.color5 {
  background-color: #B08C4D;
}

.services-desripiton {
  max-width: 320px;
  display: inline-block;
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.page-goods {
  position: relative;
  background-color: #171717;
  padding-top: 120px;
  padding-bottom: 120px;
}

.all-projects {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #E4B564;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 40px;
  color: #E4B564;
}

.goods-list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 1000px;
  align-content: space-between;
  margin-top: 94px;
  margin-bottom: 0;
}

.goods-item {
  list-style: none;
  max-width: 350px;
  margin-bottom: 24px;
  position: relative;
}

.goods-item-link {
  display: flex;
  text-decoration-line: none;
  flex-wrap: wrap;
  position: relative;
}

.goods-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  padding-top: 44px;
  padding-left: 52px;
  color: #FFFFFF;
}

.goods-title {
  font-weight: bold;
}

.goods-item-active {
  color: #000000;
}

.page-projects {
  position: relative;
  background: url("../img/parallax-bg.jpeg") center/cover no-repeat;
  background-attachment: fixed;
  padding-top: 52px;
  margin-bottom: 200px;
}

.project-list {
  margin-top: 61px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 0;
}

.porject-item {
  list-style: none;
  /* background-color: #634F2C; */
  background-image: url("../img/sec3/img1.JPG");
  background-repeat: no-repeat;
  background-size: contain, cover;
  overflow: hidden;
  /*
  background-size: 365px 294px ; */
    background-size: cover;
  height: 294px;
  display: flex;
  justify-content: center;
  transition-duration: 500ms;
}

.porject-item:hover {
  transform: scale(1.5);
}

.porject-item:nth-child(2) {
  background-image: url("../img/sec3/img2.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

.porject-item:nth-child(3) {
  background-image: url("../img/sec3/img3.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

.porject-item:nth-child(4) {
  background-image: url("../img/sec3/img4.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

.porject-item:nth-child(5) {
  background-image: url("../img/sec3/img5.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

.porject-item:nth-child(6) {
  background-image: url("../img/sec3/img6.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

.project-item-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-item-title {
  display: none;
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 16px;
}

.project-item-adress {
  font-weight: 300;
}

.test {
  font-size: 29.5px;
  color: white;
  line-height: 62px;
  background-image: url("../img/img6.png");
  background-repeat: no-repeat;
  background-position: left 0px bottom 0px, left 0 bottom 0;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.porject-item:hover>.project-item-wraper>.project-item-title {
  display: inline-block;
  max-width: 326px;

}
